.production {
    padding-bottom: 40px;
    &__services {
        display: flex;
        gap: 20px;
    }
    &__service {
        width: 25%;
        border: 1px solid $main-color;
        padding: 12px 5px 20px 5px;
    }
    &__service-title {
        padding-bottom: 20px;
        font-size: 48px;
    }
    &__service-descr {
        font-size: 12px;
        line-height: 115%;
        letter-spacing: -0.6px;
    }
    .border {
        display: none;
    }
}